%hr
.fa.fa-commenting-o.fa-2x.ml-2
おすすめポイント
= simple_format(novel.review,style: "font-size:18px; line-height:160%;", class: "font-weight-bold px-3 pt-1 pb-3")
.card{:style => "background-color: #f9f9f9;"}
  .card-title.p-2.mb-0{:style => "margin-bottom: 0px; font-size:17px; line-height:160%; color: blue;"}
    = novel.title
    .fa.fa-external-link
    -# = simple_format(novel.titleeee,style: "margin-bottom: 0px; font-size:18px; line-height:160%; color: blue;")
  .card-body.pl-2.pt-0.pb-2{:style => "min-height:100px;"}
    .text_overflow
      = simple_format(novel.discription,:style => "font-size:14px; line-height:160%;")
    -# .row.pl-3.pb-2.small.text-muted
    -#   = novel.created_at.strftime("%Y/%m/%d/ %H:%M:%S")
    -# .font-weight-bold.pb-4
    -#   = simple_format(novel.discription,:style => "font-size:17px; line-height:160%;")
