%hr
.m-2{style: "border: dashed 2px #cccccc;"}
  .fa.fa-book.fa-2x.ml-2.mt-2
  = simple_format(novel.review,style: "font-size:18px; line-height:160%;", class: "font-weight-bold pt-0 pl-4 pr-3")
.card.novel-card.mx-2{:style => "background-color: #f9f9f9;"}
  .card-title.p-2.mb-0{:style => "margin-bottom: 0px; font-size:17px; line-height:160%; color: blue !important;"}
    //TODO urlを持って入ればリンク、持っていなかったらリンクにしないように分ける
    = link_to novel.url, target: "_blank" do
      .novel-title-link
        #{novel.title}
        .fa.fa-external-link
  .card-body.pl-2.pt-0.pb-2{:style => "min-height:100px;"}
    .text_overflow
      = simple_format(novel.description,:style => "font-size:14px; line-height:160%;")
