.card.mx-3.my-2
  .card-title.h2.p-3.mb-0
    = @user.name
    さんのまとめ
  -if user_signed_in? && current_user.id == @user.id
    .card-body.px-3.pb-2.pt-0
      = link_to edit_user_registration_path(@user) do
        .fa.fa-pencil
          ユーザ情報編集

= render partial: "layouts/matome-list", locals: { matomes: @matomes }
